/*    HomeStyles    */

.toHover:hover{
  cursor: pointer;
  color:#D43017;
  transform: rotate(4deg);
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:600;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.Montserrat
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.headerbar
{
  background: rgb(81,226,195);
  background: -moz-linear-gradient(left, rgba(81,226,195,1) 0%, rgba(131,188,253,1) 100%);
  background: -webkit-linear-gradient(left, rgba(81,226,195,1) 0%,rgba(131,188,253,1) 100%);
  background: linear-gradient(to right, rgba(81,226,195,1) 0%,rgba(131,188,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51e2c3', endColorstr='#83bcfd',GradientType=1 );
}

a {
  color: #212529;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    background: linear-gradient(to right, rgba(81,226,195,0.9) 0%,rgba(131,188,253,0.9) 100%);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background: rgb(81,226,195);
  background: -moz-linear-gradient(left, rgba(81,226,195,1) 0%, rgba(131,188,253,1) 100%);
  background: -webkit-linear-gradient(left, rgba(81,226,195,1) 0%,rgba(131,188,253,1) 100%);
  background: linear-gradient(to right, rgba(81,226,195,1) 0%,rgba(131,188,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51e2c3', endColorstr='#83bcfd',GradientType=1 );
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

.inner-wrap {
  background: #FFFFFF;
  position: relative;
  margin-top: -50px !important;
  z-index: 3;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: no-repeat calc(50% - 300px) center;
  background-size: 400px 400px;
  background-image: url("willowtree.png");
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

.site-heading 
{
  padding: 100px 0 100px !important;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
  .subheading {
    display: block !important;
  }

}

.subheading {
  display: none;
}

.post-preview-a {
  color: #212529;
}

.post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-meta > a:focus, .post-meta > a:hover {
  text-decoration: none;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  clear: both;
  padding: 80px 0 30px;
  margin-top: -80px;
  position: relative;
  z-index: 2;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}



.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.chatCard{
  height: 500px;
  border-radius: 15px !important;
  background: linear-gradient(to right, rgba(81,226,195,0.8) 0%,rgba(131,188,253,0.8) 100%);
  overflow-x: hidden !important;
}
.contacts_body{
  padding:  0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body{
  overflow-y: auto;
  background-color: rgba(255,255,255,0.4);
  overflow-x: hidden;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.bd-highlight{
  font-size: 28px;
  font-weight: 500;
}


.search{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
}
.search:focus{
     box-shadow:none !important;
       outline:0px !important;
}
.type_msg{
  background-color: rgba(0,0,0,0.2) !important;
  border:0 !important;
  color:white !important;
  height: 60px !important;
  overflow-y: auto;
  border-radius: 15px 0 0 15px;
}
  .type_msg:focus{
     box-shadow:none !important;
       outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.active{
  background-color: rgba(0,0,0,0.3);
}

.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.msg_cotainer{
border-radius: 25px;
padding: 10px;
position: relative;
color: white;
font-size: larger;
font-weight: 300;
font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
min-width: 100px;
text-align: center;
margin-bottom: 5px;

}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -20px;
color: black;
font-size: 15px;
font-style: italic;
margin-top: 0;
color: #868e96;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;

}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
z-index: 10;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 50px 0 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 0px;
right: 0px;
min-width: 160px;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}

.fa-cogs:hover{
  color: orange !important;
}
.fa-dumpster-fire:hover{
  color:salmon !important;
}
.fa-beer:hover{
  color:rgba(81,226,195,1) !important;
}
.fa-heart-broken:hover{
  color:dodgerblue !important;
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}

.btn-chat{
  max-height: 66px;
  background: linear-gradient(to right, rgba(81,226,195,0.8) 0%,rgba(131,188,253,0.8) 100%);
  border-radius: 15px 0 0 15px !important;
  border: 0;
}

.btn-chat-cont{
  transition: all 500ms ease 0s;
  position: absolute;
  z-Index: 1;
  right: 0;
  float: right;
}

.webSocket{
  min-height: 400px;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
    
}

@media(min-width: 992px){
  .webSocket{
    width: 100%;
    left: 50%;

    position: unset;
    right: unset;
    bottom: unset;
    left: unset;
    z-index: unset;
  }

  .webSocketSecond
  {
    transition: unset !important;
    opacity: 1 !important;
    width: 100% !important;
  }

  .btn-chat-cont{
    display: none;
  }

  .btn-chat-hide{
    display: none;
  }
}

@media(min-width: 1400px){

}

.ownBtn2{
  cursor: pointer;
}

